<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Bitter is a safe place for users to micro-vent, with the ultimate goal of fostering virtual support networks when you need it the most. We hear you boo boo!
</p>
