<div class="center jumbotron">
	<h1>Welcome to the Bitter App</h1>
	<h2>
	  This is the home page for Bitter. Please login or register
	</h2>

	<%= link_to "Sign up now", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("bitter.png", alt: "Bitter logo"),
			'http://bit.ly/2Dh1qzC' %>
<%= link_to image_tag("kitten.jpg", alt: "Bitter cat"),
			'http://bit.ly/2qUhdlo' %>